.article {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 8px;
}

.article:hover {
	border-color: #646cff;
}

.article:focus,
.article:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.article img {
	width: 100%;
	object-fit: cover;
}
